<%- include("header") -%>


<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laborum beatae quaerat ipsum quas modi doloribus
    vitae unde. A temporibus voluptate assumenda aspernatur esse eos porro molestiae laboriosam deserunt fugit.</p>


<%- include("footer") -%>